---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import ScrollToTop from "../../components/scrollToTop.astro";
import SocialMedia from "../../components/SocialMedia.astro";

const seo = {
    title: "LazyPickaxe | Terms and Conditions",
    description:
        "Read the official Terms and Conditions of LazyPickaxe. Learn about refund policy, user obligations, liability, and governing laws.",
    keywords:
        "LazyPickaxe terms, conditions, crypto mining rules, refund policy, mining pool issues, user obligations, liability, UAE law",
};
---

<Layout title={seo.title} description={seo.description} keywords={seo.keywords}>
    <Header />
    <SocialMedia />
    <ScrollToTop />
    <section class="relative pt-[150px] pb-[64px] overflow-hidden">
        <div class="container max-w-[1400px] mx-auto px-4">
            <h1
                class="text-[34px] md:text-[36px] font-bold relative inline-block heading-animate mb-14 text-center w-full"
            >
                Terms and Conditions
            </h1>
            <div class="flex flex-col md:flex-row items-start gap-10 md:gap-15">
                <div class="w-full space-y-4 pr-2">
                    <!-- First Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" checked />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            1. Definitions
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul
                                class="list-disc pl-6 space-y-2 text-gray-600 pt-2"
                            >
                                <li>
                                    <strong>“LazyPickaxe” </strong> refers to the
                                    cloud-based hashpower services provided by GK
                                    Cloud Services – FZCO, enabling users to get access
                                    computational power for cryptocurrency mining.
                                </li>
                                <li>
                                    <strong> “User”</strong> refers to any individual
                                    or entity that accesses or uses LazyPickaxe mining
                                    services.
                                </li>
                                <li>
                                    <strong>“Hashpower” </strong>
                                    refers to the computational mining power used
                                    to mine cryptocurrencies such as Bitcoin, Litecoin,
                                    Ethereum-based coins, and other supported algorithms.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Second Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            2. Hashpower Products (Mining)
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    LazyPickaxe provides <strong
                                        >on-demand hashpower</strong
                                    >
                                    that allows users to participate in cryptocurrency
                                    mining without owning hardware.
                                </li>
                                <li>
                                    Users may purchase mining hashpower for
                                    supported algorithms to generate mining
                                    rewards, depending on network difficulty and
                                    pool performance.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Third Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            3. No Guarantee of Rewards or Profits
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    LazyPickaxe does not guarantee mining
                                    rewards, profit generation, or financial
                                    returns.
                                </li>
                                <li>
                                    Cryptocurrency mining involves variables
                                    such as market value, network difficulty,
                                    block rewards, and pool performance—these
                                    factors may reduce or eliminate rewards
                                    entirely.
                                </li>
                                <li>
                                    Purchasing hashpower does not entitle the
                                    user to any fixed amount of cryptocurrency.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Fourth Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            4. Refund Policy
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    All hashpower purchases are <strong
                                        >non-refundable</strong
                                    > .
                                </li>
                                <li>
                                    If a service interruption or technical issue
                                    is caused by LazyPickaxe, users may receive
                                    compensation in the form of additional
                                    mining time, equal to the downtime duration.
                                </li>
                                <li>
                                    LazyPickaxe is not responsible for mining
                                    pool errors, multi-coin switching issues, or
                                    algorithm-specific limitations, and refunds
                                    will not be issued for these scenarios.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Fifth Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            5. Mining Pool Issues
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    LazyPickaxe is not liable for the
                                    performance, reliability, or reward
                                    distribution of third-party mining pools.
                                </li>
                                <li>
                                    Users acknowledge that pool efficiency,
                                    latency, and payout methods may vary and can
                                    influence mining outcomes.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Sixth Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            6. Multi-Coin Mining Issues
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    LazyPickaxe supports multi-coin mining;
                                    however, rewards may vary significantly
                                    depending on the coin’s network conditions.
                                </li>
                                <li>
                                    No specific mining reward amounts are
                                    guaranteed for any coin.
                                </li>
                                <li>
                                    Users must ensure each coin switched by the
                                    mining pool complies with LazyPickaxe’s
                                    minimum difficulty requirements.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Seventh Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            7. Switching Pool Issues
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>Pool switching is not supported.</li>
                                <li>
                                    Once a mining pool is selected during setup,
                                    it cannot be changed within the current
                                    configuration.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Eighth Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            8. Multi-Algo Coin Issues
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    Mining multi-algorithm coins involves risks
                                    such as fluctuating network difficulty and
                                    reward unpredictability.
                                </li>
                                <li>
                                    LazyPickaxe is not responsible for reward
                                    variations across different algorithms or
                                    coins.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Ninth Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            9. Limitation of Liability
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    LazyPickaxe is not responsible for financial
                                    losses, lost mining rewards, hardware
                                    failures, software issues, or any indirect
                                    damages related to mining activities.
                                </li>
                                <li>
                                    Users agree to use LazyPickaxe services at
                                    their own risk, acknowledging the
                                    uncertainties associated with cryptocurrency
                                    mining.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Tenth Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            10. User Obligations
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    Users must ensure that cryptocurrency mining
                                    is legal in their jurisdiction.
                                </li>
                                <li>
                                    Users are responsible for securing their
                                    wallets, login credentials, and
                                    mining-related configurations.
                                </li>
                                <li>
                                    Illegal activities—including fraud, money
                                    laundering, or misuse of mining
                                    resources—are strictly prohibited.
                                </li>
                                <li>
                                    Users may be required to undergo AML/KYC/KYB
                                    verification for large transactions, wallet
                                    deposits, or suspicious activity.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Eleventh Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            11. Termination
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    LazyPickaxe reserves the right to suspend or
                                    terminate any user account, without prior
                                    notice, for violating these Terms or
                                    engaging in prohibited activities.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Twelvth Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            12. Changes to Terms and Conditions
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    LazyPickaxe may update the Terms &
                                    Conditions periodically.
                                </li>
                                <li>
                                    Continued use of the platform after changes
                                    signifies acceptance of the updated terms.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Thirteen Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            13. Governing Law
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    These Terms & Conditions are governed by the
                                    laws of the United Arab Emirates (UAE).
                                </li>
                                <li>
                                    Any disputes shall fall under the exclusive
                                    jurisdiction of UAE courts.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Fourteen Section -->
                    <div
                        class="collapse collapse-arrow bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition-all duration-300"
                    >
                        <input type="radio" name="privacy" />
                        <div
                            class="collapse-title text-lg font-semibold text-gray-800"
                        >
                            14. Contact Information
                        </div>
                        <div
                            class="collapse-content text-[17px] text-gray-600 leading-[28px]"
                        >
                            <ul class="list-disc pl-6 space-y-2 text-gray-600">
                                <li>
                                    For support, inquiries, or disputes, users
                                    may contact LazyPickaxe Customer Support.
                                </li>
                                <li>
                                    By using the platform, users acknowledge and
                                    agree to all policies outlined in these
                                    Terms & Conditions.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</Layout>
