---
import LazyPickaxeLogo from "../assets/images/landing/white-logo.webp";
---

<footer class="bg-[#0a0f3d] text-white text-base-content">
    <div class="container max-w-[1400px] mx-auto px-4 pt-10 pb-5">
        <section
            class="footer sm:footer-horizontal items-start justify-between mx-auto gap-10 text-[18px]"
        >
            <aside class="max-w-[300px] space-y-3">
                <img src={LazyPickaxeLogo.src} alt="Lazypickaxe Logo" />
                <p class="leading-[25px] text-[16px]">
                    Lazypickaxe the world most trusted crypto mining platform. Mine
                    crypto without the hassle of hardware, software, or
                    electricity bills.
                </p>
            </aside>

            <nav>
                <h6 class="footer-title text-[#FFD438] opacity-90">
                    Algorithms
                </h6>
                <div class="leading-[30px] flex flex-col">
                    <a
                        class="link link-hover hover:text-[#F7D243]"
                        href="app/algorithm-list/SHA256ASICBOOST"
                    >
                        Sha256asicboost
                    </a>
                    <a
                        class="link link-hover hover:text-[#F7D243]"
                        href="app/algorithm-list/SCRYPT">Scrypt</a
                    >
                    <a
                        class="link link-hover hover:text-[#F7D243]"
                        href="app/algorithm-list/KHEAVYHASH">Kheavyhash</a
                    >
                    <!-- <a class="link link-hover hover:text-[#F7D243]">
                        RandomX
                    </a>
                    <a class="link link-hover hover:text-[#F7D243]">Kawpow</a>
                    <a class="link link-hover hover:text-[#F7D243]"> Etchash</a> -->
                </div>
            </nav>

            <nav>
                <h6 class="footer-title text-[#FFD438] opacity-90">Company</h6>
                <div class="leading-[30px] flex flex-col">
                    <a
                        class="link link-hover hover:text-[#F7D243]"
                        href="/#why-choose-us">Why choose us</a
                    >
                    <a
                        class="link link-hover hover:text-[#F7D243]"
                        href="/#eco-mining">Eco mining</a
                    >
                    <a
                        class="link link-hover hover:text-[#F7D243]"
                        href="/#our-partners">Our Partners</a
                    >
                    <a
                        class="link link-hover hover:text-[#F7D243]"
                        href="/#testimonials">Testimonials</a
                    >
                </div>
            </nav>

            <nav>
                <h6 class="footer-title text-[#FFD438] opacity-90">
                    Resources
                </h6>
                <div class="leading-[30px] flex flex-col">
                    <a class="link link-hover hover:text-[#F7D243]" href="/faq"
                        >FAQ</a
                    >
                    <a
                        class="link link-hover hover:text-[#F7D243]"
                        href="/guidance">Guidance</a
                    >
                    <a class="link link-hover hover:text-[#F7D243]" href="/blog"
                        >Blog</a
                    >
                    <a
                        class="link link-hover hover:text-[#F7D243]"
                        href="/contact">Contact us</a
                    >
                    <br />
                </div>
            </nav>
        </section>
    </div>
</footer>
<footer class="bg-[#F7D243]">
    <div class="container max-w-[1400px] mx-auto px-4">
        <section
            class="flex flex-col md:flex-row items-center md:justify-between gap-3 py-2"
        >
            <a class="link no-underline"
                >Copyright © 2023-2025 GK Cloud Services FZCO
            </a>
            <div>
                <div class="flex items-center gap-3">
                    <a
                        class="link link-hover hover:text-[#0a0f3d]"
                        href="/terms"
                    >
                        Terms and conditions
                    </a>

                    <span class="h-4 border-l border-black"></span>

                    <a
                        class="link link-hover hover:text-[#0a0f3d]"
                        href="/privacy"
                    >
                        Privacy policy
                    </a>
                </div>
            </div>
        </section>
    </div>
</footer>

<style>
    .link {
        font-size: 16px;
    }
</style>
